<div id="logo"><a href="/"><img src="https://i.imgur.com/IKfgyk4.png"></a></div>
<div id="build-your-bowl">Build your own bowl now!</div>
<div id="user-registration">
  <a href="/users/new">Register</a>
	<a href="/sessions/new">Login</a>
</div>
<div id="profile-cart">
  <div id="profile"><img src="https://i.imgur.com/V3j3sKw.png"></div>
  <div id="cart"><img src="https://i.imgur.com/c71OI2k.png"></div>
</div>