<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('./partials/head.ejs')  %>
</head>
<body>

  <div class="container">
    <!--Empty Columns-->
    <%- include('./partials/empty-col.ejs')  %>
    <!--/Empty Columns-->
    <header>
      <%- include('./partials/header.ejs')  %>
    </header>
    <nav>
      <div class="nav">Home Page</div>
    </nav>
    <main class="main-home">
      <div class="build-a-bowl">
        <div class="build-a-bowl-right">
          <div class="hero-text">
            <a href="/buildabowl">Create your Tteok Bowl here!</a>
          </div>
        </div>
      </div>
      <div class="premade-sets">Premade Sets</div>
      <div class="sets">
        <div class="set-1"><div class="set-a"><a href="/cart/629967e21b0cc2554c5a0cfe/review">Set A</a></div></div>
        <div class="set-2"><a href="/cart/629961451b0cc2554c5a0cf7/review"><div class="set-b">Set B</a></div></div>
        <div class="set-3"><div class="set-c"><a href="/cart/629956561b0cc2554c5a0cf4/review">Set C</a></div></div>
        <div class="set-4"><div class="set-d"><a href="/cart/6299540d1b0cc2554c5a0cea/review">Set D</a></div></div>
    </div>
    </main>
    <footer>
      <div class="footer">
        <%- include('./partials/footer.ejs')  %>
      </div>
    </footer>
  </div>

</body>
</html>