<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('./partials/head.ejs')  %>
</head>
<body>

  <div class="container">
    <!--Empty Columns-->
    <%- include('./partials/empty-col.ejs')  %>
    <!--/Empty Columns-->
    <header>
      <%- include('./partials/header.ejs')  %>
    </header>
    <nav>
      <div class="nav">Home Page</div>
    </nav>
    <main class="main-home">
      <div class="build-a-bowl">
        <div class="build-a-bowl-left"></div>
        <div class="build-a-bowl-right">
          <img class="splash-img" src="https://i.imgur.com/OBRPNnR.png">
        </div>
      </div>
      <div class="premade-sets">Premade Sets</div>
      <div class="sets">
        <div class="set-1">Set 1</div>
        <div class="set-2">Set 2</div>
        <div class="set-3">Set 3</div>
        <div class="set-4">Set 4</div>
    </div>
    </main>
    <footer>
      <div class="footer">
        <%- include('./partials/footer.ejs')  %>
      </div>
    </footer>
  </div>

</body>
</html>