@import url('emptyCol.css');
@import url('main/home.css');
@import url('main/sets.css');
@import url('main/register.css');
@import url('main/login.css');
@import url('main/dashboard.css');
@import url('main/build.css');
@import url('main/cart.css');

* {
  box-sizing: border-box;
}

body,html {
  background-color: #ebebeb;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh;
  align-items: center;
  justify-items: center;
  overflow-x: hidden;
}

.container {
  display: grid;
  height: 100vh;
  min-width: 1440px;
  grid-template-columns: 90px 1120px 90px;
  grid-template-rows: 70px 32px 1fr 25px 40px 1fr;
  grid-template-areas:
    "header header header"
    "nav nav nav"
    "main main main"
    "empty-col-1 empty-col-1 empty-col-1"
    "footer footer footer"
    "empty-col-2 empty-col-2 empty-col-2";
  padding: 3% 3% 0 3%;
}

/* Header */
header {
  display: grid;
  background-color: #FFFFFF;
  grid-area: header;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #ebebeb;
  grid-template-columns: 90px 1fr 2fr 3fr 250px 90px;
  grid-template-rows: 1fr;
  grid-template-areas: 
    "empty-col-1 logo build-your-bowl empty-col-2 profile-cart empty-col-3"
}
.logo {
  display: grid;
  justify-content: start;
  align-content: center;
  border-right-style: solid;
  border-width: 1px;
  border-color: #ebebeb;
  grid-area: logo;
}
.build-your-bowl {
  display: grid;
  justify-content: center;
  align-content: center;
  border-right-style: solid;
  border-width: 1px;
  border-color: #ebebeb;
  grid-area: build-your-bowl;
  font-size: 14px;
}
.profile-cart {
  display: grid;
  justify-content: end;
  align-content: center;
  grid-area: profile-cart;
  grid-template-columns: 80px 60px 60px auto;
  grid-template-rows: 1fr;
  grid-template-areas: 
    "profile favorites cart logout";
}
.profile {
  display: grid;
  justify-content: end;
  align-content: center;
  grid-area: profile;
  border-left-style: solid;
  border-width: 1px;
  border-color: #ebebeb;
}
.profile-dropdown>button {
  cursor: pointer;
  border: none;
  background-color: #ffffff;
}
.profile-dropdown {
  position: relative;
}
.profile-dropdown-login {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  transition: transform 150ms ease-in-out;
  font-size: 14px;
}
.profile-dropdown.active > .link + .profile-dropdown-login {
  width: 190px;
  opacity: 1;
  right: -65px;
  top: 50px;
  transform: translateY(0);
  pointer-events: auto;
  background-color: #FFFFFF;
  padding: 15px;
  border: 1px solid #ebebeb;
  border-radius: 10px;
}
.logged-in {
  width: 190px;
}
.login-button {
  cursor: pointer;
  border: none;
  background-color: #ffffff;
}
.favorites {
  display: grid;
  justify-content: end;
  align-content: center;
  grid-area: favorites;
  margin-right: 2px;
}
.cart {
  display: grid;
  justify-content: end;
  align-content: center;
  grid-area: cart;
}
.logout {
  display: grid;
  justify-content: end;
  align-content: center;
  grid-area: logout;
  margin-left: 22px;
}
.sign-up {
  display: grid;
  justify-content: end;
  align-content: center;
  grid-area: logout;
  margin-left: 22px;
}
/* /Header */

/* Nav Bar */
nav {
  display: grid;
  align-content: center;
  background-color: #FFFFFF;
  grid-area: nav;
  grid-template-columns: 90px 1fr 90px;
  grid-template-rows: 1fr;
  grid-template-areas: 
    "empty-col-1 nav empty-col-2";
}
.nav {
  display: grid;
  align-content: center;
  justify-content: start;
  align-content: center;
  grid-area: nav;
  font-size: 12px;
}
/* /Nav Bar */

/* Footer */
footer {
  display: grid;
  background-color: #FFFFFF;
  grid-template-columns: 90px 1120px 90px;
  grid-template-rows: 1fr;
  grid-template-areas:
    "empty-col-1 footer-class empty-col-2";
  grid-area: footer;
}
.footer {
  margin: auto;
  grid-area: footer-class;
  font-size: 12px;
}
/* /Footer */

/* A Links */
/* unvisited link */
a:link {
  color: #000000;
  text-decoration: none;
}
/* visited link */
a:visited {
  color: #000000;
  text-decoration: none;
}
/* mouse over link */
a:hover {
  color: #ebebeb;
  text-decoration: none;
}
/* selected link */
a:active {
  color: #000000;
  text-decoration: none;
}
/* /A Links */

/* All Input Fields */
input {
  border: 1px solid #ebebeb;
  padding: 5px;
}
/* /All Input Fields */

/* Creates 2 space indent */
.tab {
  margin-left: 2.5em
 }
 /* /Creates 2 space indent */