<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../partials/head.ejs')  %>
</head>
<body>

  <div class="container">
    <!--Empty Columns-->
    <%- include('../partials/empty-col.ejs')  %>
    <!--/Empty Columns-->
    <header>
      <%- include('../partials/header.ejs')  %>
    </header>
    <nav>
      <div class="nav">Home Page > Build a bowl</div>
    </nav>
    <main class="main-build">
      <div class="build-container">
        <div class="go-back">
          <script>
            document.write('<a href="' + document.referrer + '"><img src="https://i.imgur.com/rEXIDeo.png"></a>');
          </script>
        </div>
        <div class="bowl-img">
          <img src="https://via.placeholder.com/446x409.png">
        </div>
        <div class="build-bowl-list">
          <form action="/buildabowl" method="POST">

          Spice Level
          <hr>
          <input type="hidden" id="name" value="Custom Tteok Bowl" name="name">
          <input type="radio" id="mild" value="Mild" name="mild"><label for="mild">Mild</label>
          <input class="tab" type="radio" id="original" value="Original" name="original"><label for="original">Original<img src="https://i.imgur.com/x3riXKv.png"></label>
          <input class="tab" type="radio" id="spicy" value="Spicy" name="spicy"><label for="spicy">Spicy<img src="https://i.imgur.com/x3riXKv.png"><img src="https://i.imgur.com/x3riXKv.png"></label>
          <input class="tab" type="radio" id="volcano" value="Volcano" name="volcano"><label for="volcano">Volcano<img src="https://i.imgur.com/x3riXKv.png"><img src="https://i.imgur.com/x3riXKv.png"><img src="https://i.imgur.com/x3riXKv.png"></label>
          <br><br><br>

          Toppings
          <hr>
          <div class="toppings">
            <div class="toppings-left">

              <label>
                <input class="calc" type="checkbox" name="riceCakesName"  value="Rice Cakes"/>
                Rice cakes
                 <input type="hidden" name="riceCakesPrice" value="3">
              </label>
              <br>
              <div class="tab">
              <label>
                <input class="calc" type="checkbox" name="riceCakesExtrasName"  value="Rice Cakes Extras"/>
                Rice cakes extras
                 <input type="hidden" name="riceCakesExtrasPrice" value="3">
              </label>
              </div>
              <br>

              <label>
                <input class="calc" type="checkbox" name="udonNoodlesName"  value="Udon Noodles"/>
                Udon noodles
                 <input type="hidden" name="udonNoodlesPrice" value="3">
              </label>
              <br>
              <div class="tab">
              <label>
                <input class="calc" type="checkbox" name="udonNoodlesExtrasName"  value="Udon Noodles Extras"/>
                Udon noodles extras
                 <input type="hidden" name="udonNoodlesExtrasPrice" value="3">
              </label>
              </div>
              <br>

              <label>
                <input class="calc" type="checkbox" name="ramenNoodlesName"  value="Ramen Noodles"/>
                Ramen Noodles
                 <input type="hidden" name="ramenNoodlesPrice" value="3">
              </label>
              <br>
              <div class="tab">
              <label>
                <input class="calc" type="checkbox" name="ramenNoodlesExtrasName"  value="Ramen Noodles Extras"/>
                Ramen Noodles extras
                 <input type="hidden" name="ramenNoodlesExtrasPrice" value="3">
              </label>
              </div>
              <br>

              <label>
                <input class="calc" type="checkbox" name="fishCakesName"  value="Fish Cakes"/>
                Fish Cakes
                 <input type="hidden" name="fishCakesPrice" value="3">
              </label>
              <br>
              <div class="tab">
              <label>
                <input class="calc" type="checkbox" name="fishCakesExtrasName"  value="Fish Cakes Extras"/>
                Fish Cakes extras
                 <input type="hidden" name="fishCakesExtrasPrice" value="3">
              </label>
              </div>
              <br>

              <label>
                <input class="calc" type="checkbox" name="eggsName"  value="Eggs"/>
                Eggs
                 <input type="hidden" name="eggsPrice" value="3">
              </label>
              <br>
              <div class="tab">
              <label>
                <input class="calc" type="checkbox" name="eggsExtrasName"  value="Eggs Extras"/>
                Eggs extras
                 <input type="hidden" name="eggsExtrasPrice" value="3">
              </label>
              </div>
              <br>

              <label>
                <input class="calc" type="checkbox" name="mozzCheeseName"  value="Mozzarella Cheese"/>
                Mozzarella Cheese
                 <input type="hidden" name="mozzCheesePrice" value="4">
              </label>
              <br>
              <div class="tab">
              <label>
                <input class="calc" type="checkbox" name="mozzCheeseExtrasName"  value="Mozzarella Cheese Extras"/>
                Mozzarella Cheese extras
                 <input type="hidden" name="mozzCheeseExtrasPrice" value="4">
              </label>
              </div>
              <br>

              <label>
                <input class="calc" type="checkbox" name="miniSausagesName"  value="Mini Sausages"/>
                Mini Sausages
                 <input type="hidden" name="miniSausagesPrice" value="3">
              </label>
              <br>
              <div class="tab">
              <label>
                <input class="calc" type="checkbox" name="miniSausagesExtrasName"  value="Mini Sausages Extras"/>
                Mini Sausages extras
                 <input type="hidden" name="miniSausagesExtrasPrice" value="3">
              </label>
              </div>
              <br>

            </div>
            <div class="toppings-right">

              <label>
                <input class="price-box" type="checkbox">
                <font class="font-right">$3</font>
              </label>
              <label>
                <input class="price-box" type="checkbox">
                <font class="font-right">$3</font>
              </label>
              <br>

              <label>
                <input class="price-box" type="checkbox">
                <font class="font-right">$3</font>
              </label>
              <label>
                <input class="price-box" type="checkbox">
                <font class="font-right">$3</font>
              </label>
              <br>

              <label>
                <input class="price-box" type="checkbox">
                <font class="font-right">$3</font>
              </label>
              <label>
                <input class="price-box" type="checkbox">
                <font class="font-right">$3</font>
              </label>
              <br>

              <label>
                <input class="price-box" type="checkbox">
                <font class="font-right">$3</font>
              </label>
              <label>
                <input class="price-box" type="checkbox">
                <font class="font-right">$3</font>
              </label>
              <br>

              <label>
                <input class="price-box" type="checkbox">
                <font class="font-right">$3</font>
              </label>
              <label>
                <input class="price-box" type="checkbox">
                <font class="font-right">$3</font>
              </label>
              <br>

              <label>
                <input class="price-box" type="checkbox">
                <font class="font-right">$3</font>
              </label>
              <label>
                <input class="price-box" type="checkbox">
                <font class="font-right">$3</font>
              </label>
              <br>

              <label>
                <input class="price-box" type="checkbox">
                <font class="font-right">$3</font>
              </label>
              <label>
                <input class="price-box" type="checkbox">
                <font class="font-right">$3</font>
              </label>
              <br>

            </div>
          </div>
          <hr>
          <div class="toppings-total">
            <p>Total: <span id="price">0</span></p>
          </div>
          <br><br><br>
          <div class="add-to-cart">
            <input type="submit" value="Build your bowl"></input>
          </div>
        </form>
          <div class="need-to-login">
            <!-- <input type="submit" value="Login first"></input> -->
          </div>
          <br>
          <div class="add-to-favorites">
            <input type="submit" value="Add to favorites"></input>
          </div>
          <div class="need-to-login">
            <!-- <input type="submit" value="Login first"></input> -->
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="footer">
        <%- include('../partials/footer.ejs')  %>
      </div>
    </footer>
  </div>

</body>
</html>