<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../partials/head.ejs')  %>
</head>
<body>

  <div class="container">
    <!--Empty Columns-->
    <%- include('../partials/empty-col.ejs')  %>
    <!--/Empty Columns-->
    <header>
      <%- include('../partials/header.ejs')  %>
    </header>
    <nav>
      <div class="nav">Home Page > Build a bowl</div>
    </nav>
    <main class="main-build">
      <div class="build-container">
        <div class="go-back">
          <script>
            document.write('<a href="' + document.referrer + '"><img src="https://i.imgur.com/rEXIDeo.png"></a>');
          </script>
        </div>
        <div class="bowl-img">
          <img src="https://via.placeholder.com/446x409.png">
        </div>
        <div class="build-bowl-list">
          <form action="/buildabowl" method="POST">

          Spice Level
          <hr>
          <input type="hidden" id="name" value="Custom Tteok Bowl" name="name">
          <input type="radio" id="mild" value="Mild" name="mild"><label for="mild">Mild</label>
          <input class="tab" type="radio" id="original" value="Original" name="original"><label for="original">Original<img src="https://i.imgur.com/x3riXKv.png"></label>
          <input class="tab" type="radio" id="spicy" value="Spicy" name="spicy"><label for="spicy">Spicy<img src="https://i.imgur.com/x3riXKv.png"><img src="https://i.imgur.com/x3riXKv.png"></label>
          <input class="tab" type="radio" id="volcano" value="Volcano" name="volcano"><label for="volcano">Volcano<img src="https://i.imgur.com/x3riXKv.png"><img src="https://i.imgur.com/x3riXKv.png"><img src="https://i.imgur.com/x3riXKv.png"></label>
          <br><br><br>

          Toppings
          <hr>
          <div class="toppings">
            <div class="toppings-left">

              <label>
                <input class="calc" id="parent-topping" type="checkbox" name="riceCakesPrice"  value="3"/>
                Rice cakes
              </label>
              <br>
              <div class="tab">
              <label>
                <input class="calc" id="child-topping" type="checkbox" name="riceCakesExtrasPrice"  value="3" disabled=""/>
                Rice cakes extras
              </label>
              </div>
              <br>

              <label>
                <input class="calc" id="parent-topping1" type="checkbox" name="udonNoodlesPrice"  value="3"/>
                Udon noodles
              </label>
              <br>
              <div class="tab">
              <label>
                <input class="calc" id="child-topping1" type="checkbox" name="udonNoodlesExtrasPrice"  value="3" disabled=""/>
                Udon noodles extras
              </label>
              </div>
              <br>

              <label>
                <input class="calc" id="parent-topping2" type="checkbox" name="ramenNoodlesPrice"  value="3"/>
                Ramen noodles
              </label>
              <br>
              <div class="tab">
              <label>
                <input class="calc" id="child-topping2" type="checkbox" name="ramenNoodlesExtrasPrice"  value="3" disabled=""/>
                Ramen noodles extras
              </label>
              </div>
              <br>

              <label>
                <input class="calc" id="parent-topping3" type="checkbox" name="fishCakesPrice"  value="3"/>
                Fish cakes
              </label>
              <br>
              <div class="tab">
              <label>
                <input class="calc" id="child-topping3" type="checkbox" name="fishCakesExtrasPrice"  value="3" disabled=""/>
                Fish cakes extras
              </label>
              </div>
              <br>

              <label>
                <input class="calc" id="parent-topping4" type="checkbox" name="eggsPrice"  value="3"/>
                Eggs
              </label>
              <br>
              <div class="tab">
              <label>
                <input class="calc" id="child-topping4" type="checkbox" name="eggsExtrasPrice"  value="3" disabled=""/>
                Eggs extras
              </label>
              </div>
              <br>

              <label>
                <input class="calc" id="parent-topping5" type="checkbox" name="mozzCheesePrice"  value="3"/>
                Mozzarella cheese
              </label>
              <br>
              <div class="tab">
              <label>
                <input class="calc" id="child-topping5" type="checkbox" name="mozzCheeseExtrasPrice"  value="3" disabled=""/>
                Mozzarella cheese extras
              </label>
              </div>
              <br>

              <label>
                <input class="calc" id="parent-topping6" type="checkbox" name="miniSausagesPrice"  value="3"/>
                Mini sausages
              </label>
              <br>
              <div class="tab">
              <label>
                <input class="calc" id="child-topping6" type="checkbox" name="miniSausagesExtrasPrice"  value="3" disabled=""/>
                Mini sausages extras
              </label>
              </div>
              <br>

              <label>
                <input class="calc" id="parent-topping7" type="checkbox" name="spamPrice"  value="3"/>
                Deep fried Spam
              </label>
              <br>
              <div class="tab">
              <label>
                <input class="calc" id="child-topping7" type="checkbox" name="spamExtrasPrice"  value="3" disabled=""/>
                Deep fried spam extras
              </label>
              </div>
              <br>

            </div>
            <div class="toppings-right">

              <label>
                <input class="price-box" type="checkbox">
                <font class="font-right">$3</font>
              </label>
              <label>
                <input class="price-box" type="checkbox">
                <font class="font-right">$3</font>
              </label>
              <br>

              <label>
                <input class="price-box" type="checkbox">
                <font class="font-right">$3</font>
              </label>
              <label>
                <input class="price-box" type="checkbox">
                <font class="font-right">$3</font>
              </label>
              <br>

              <label>
                <input class="price-box" type="checkbox">
                <font class="font-right">$3</font>
              </label>
              <label>
                <input class="price-box" type="checkbox">
                <font class="font-right">$3</font>
              </label>
              <br>

              <label>
                <input class="price-box" type="checkbox">
                <font class="font-right">$3</font>
              </label>
              <label>
                <input class="price-box" type="checkbox">
                <font class="font-right">$3</font>
              </label>
              <br>

              <label>
                <input class="price-box" type="checkbox">
                <font class="font-right">$3</font>
              </label>
              <label>
                <input class="price-box" type="checkbox">
                <font class="font-right">$3</font>
              </label>
              <br>

              <label>
                <input class="price-box" type="checkbox">
                <font class="font-right">$3</font>
              </label>
              <label>
                <input class="price-box" type="checkbox">
                <font class="font-right">$3</font>
              </label>
              <br>

              <label>
                <input class="price-box" type="checkbox">
                <font class="font-right">$3</font>
              </label>
              <label>
                <input class="price-box" type="checkbox">
                <font class="font-right">$3</font>
              </label>
              <br>

              <label>
                <input class="price-box" type="checkbox">
                <font class="font-right">$5</font>
              </label>
              <label>
                <input class="price-box" type="checkbox">
                <font class="font-right">$5</font>
              </label>
              <br>

            </div>
          </div>
          <hr>
          <div class="toppings-total">
            <p>Total: <span id="price">0</span></p>
          </div>
          <br><br><br>
          <div class="add-to-cart">
            <input type="submit" value="Build your bowl"></input>
          </div>
        </form>
          <div class="need-to-login">
            <!-- <input type="submit" value="Login first"></input> -->
          </div>
          <br>
          <div class="add-to-favorites">
            <input type="submit" value="Add to favorites"></input>
          </div>
          <div class="need-to-login">
            <!-- <input type="submit" value="Login first"></input> -->
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="footer">
        <%- include('../partials/footer.ejs')  %>
      </div>
    </footer>
  </div>

</body>
</html>