<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../partials/head.ejs')  %>
</head>
<body>

  <div class="container">
    <!--Empty Columns-->
    <%- include('../partials/empty-col.ejs')  %>
    <!--/Empty Columns-->
    <header>
      <%- include('../partials/header.ejs')  %>
    </header>
    <nav>
      <div class="nav">Home Page > Cart</div>
    </nav>
    <main class="main-cart">

      <div class="cart-container">
        <div class="go-back">
          <a href="/"><img src="https://i.imgur.com/rEXIDeo.png"></a>
        </div>
        <div class="cart-list">
        <form>
        Cart
        <hr>
          <div class="cart-items">
            <div class="cart-list-left">
              <input type="submit" value="Edit"></input>
              <font class="tab">Teeok Bowl Name</font>
            </div>
            <div class="cart-list-right">
              $15
            </div>
          </div>
          <hr>
          <div class="cart-list-right">
            Total - $15
          </div>
          <br><br>
          <div class="payment-info">
            <input type="submit" value="Payment info"></input>
          </div>
        </div>
      </form>
      <div class="bowl-img">
        <img src="https://via.placeholder.com/446x409.png">
      </div>
      </div>
    </main>
    <footer>
      <div class="footer">
        <%- include('../partials/footer.ejs')  %>
      </div>
    </footer>
  </div>

</body>
</html>