<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../partials/head.ejs')  %>
</head>
<body>

  <div class="container">
    <!--Empty Columns-->
    <%- include('../partials/empty-col.ejs')  %>
    <!--/Empty Columns-->
    <header>
      <%- include('../partials/header.ejs')  %>
    </header>
    <nav>
      <div class="nav">Home Page > Login</div>
    </nav>
    <main class="main-login-new">
      <div class="login-title">
        <h1>Login</h1>
      </div>
      <div class="login-form">
        <form action='/sessions' method='POST'>
          <label for="email">Email:</label>
          <input type="email" name="email" id="email" />
      
          <label for="password">Password:</label>
          <input type="password" name="password" id="password" />
      
          <input type="submit" value="Login">
        </form>
      </div>
    </main>
    <footer>
      <div class="footer">
        <%- include('../partials/footer.ejs')  %>
      </div>
    </footer>
  </div>

</body>
</html>