/* Main - Build */
.main-build {
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: 90px 1120px 90px;
  grid-template-rows: 1fr;
  grid-template-areas:
  "empty-col-1 build-container empty-col-2";
  grid-area: main;
}
.build-container {
  grid-area: build-container;
  display: grid;
  grid-template-columns: 60px 530px 530px;
  grid-template-rows: 1fr;
  grid-template-areas:
  "go-back bowl-img build-bowl-list";
  background-image: url('https://i.imgur.com/2kaW9kb.png');
  height: 950px;
}
.go-back {
  grid-area: go-back;
  margin-top: 150px;
  margin-left: 25px;
}
.bowl-img {
  grid-area: bowl-img;
  margin-top: 75px;
  display: grid;
  justify-content: center;
}
.build-bowl-list {
  grid-area: build-bowl-list;
  margin: 50px 0 0 50px;
}
.add-to-cart {
  display: grid;
  grid-area: build-bowl-list;
}
.add-to-cart>input {
  background-color: #FFFFFF;
  border-radius: 10px;
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
}
.add-to-favorites {
  display: grid;
  grid-area: build-bowl-list;
}
.add-to-favorites>input {
  background-color: #FFFFFF;
  border-radius: 10px;
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.toppings {
  display: grid;
  grid-template-columns: 1fr 0.25fr;
  grid-template-rows: 2fr;
  grid-template-areas:
    "toppings-left toppings-right";
}
.toppings-left {
  grid-area: toppings-left;
}
.toppings-right {
  grid-area: toppings-right;
  display: grid;
  justify-content: end;
  align-content: start;
}
.toppings-total {
  grid-area: toppings-right;
  display: grid;
  justify-content: end;
}
.font-right {
  width: 100%;
  text-align: right;
  color: #73AD21;
}
.price-box {
  opacity: 0%;
}
hr {
  border: 0;
  height: 0;
  border-bottom: 1px solid #ebebeb;
}
/* /Main */