/* Main - Home */
#m-index {
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: 90px 1fr 90px;
  grid-template-rows: 420px 46px 345px;
  grid-template-areas:
    "empty-col-1 build-a-bowl empty-col-2"
    "empty-col-1 pre-made-sets empty-col-2"
    "empty-col-1 sets empty-col-2";
  grid-area: main;
}
#build-a-bowl {
  display: grid;
  justify-content: end;
  align-content: center;
  background-color: #FFFFFF;
  grid-area: build-a-bowl;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "build-a-bowl-left build-a-bowl-right";
}
#build-a-bowl-left {
  grid-area: build-a-bowl-left;
}
#build-a-bowl-right {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  grid-area: build-a-bowl-right;
}
#splash-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#premade-sets {
  display: grid;
  align-content: end;
  background-color: #FFFFFF;
  grid-area: pre-made-sets;
  font-size: 14px;
  padding-bottom: 5px;
}
#sets {
  background-color: #FFFFFF;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 257px 257px 257px 257px;
  grid-template-areas:
    "set-1 set-2 set-3 set-4";
  grid-area: sets;
}
#set-1 {
  background-color: #FFFFFF;
  grid-area: set-1;
  border: 1px solid #ebebeb;
  border-radius: 10px;
}
#set-2 {
  background-color: #FFFFFF;
  grid-area: set-2;
  border: 1px solid #ebebeb;
  border-radius: 10px;
}
#set-3 {
  background-color: #FFFFFF;
  grid-area: set-3;
  border: 1px solid #ebebeb;
  border-radius: 10px;
}
#set-4 {
  background-color: #FFFFFF;
  grid-area: set-4;
  border: 1px solid #ebebeb;
  border-radius: 10px;
}
/* /Main */