/* Main - Home */
.main-login-new {
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: 90px 1fr 90px;
  grid-template-rows: 100px 711px;
  grid-template-areas:
    "empty-col-1 register-title empty-col-2"
    "empty-col-1 register-form empty-col-2";
  grid-area: main;
}
.login-title {
  display: grid;
  justify-content: center;
  align-content: start;
  grid-area: register-title;
}
.login-form {
  display: grid;
  justify-content: center;
  align-content: start;
  grid-area: register-form;
}
/* /Main */