/* Main - Sets */
.main-sets {
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: 90px 1120px 90px;
  grid-template-rows: 420px 46px 345px;
  grid-template-areas:
    "empty-col-1 build-a-bowl empty-col-2"
    "empty-col-1 pre-made-sets empty-col-2"
    "empty-col-1 sets empty-col-2";
  grid-area: main;
}
/* /Main */